@{
    ViewBag.Title = "Home";
}
<div class="main">
    <nav>
        <ul id="menu">
            <li class="home-link">@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
            <li class="about-project-link">@Html.ActionLink("AboutProject", "AboutProject", "Home")</li>
            <li class="about-us-link">@Html.ActionLink("AboutUs", "AboutUs", "Home")</li>
        </ul>
    </nav>
</div>
