@{
    ViewBag.Title = "Home";
}
<div class="main">
    <nav>
        <ul id="menu">
            <li class="home-link">@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
            <li class="about-project-link">@Html.ActionLink("AboutProject", "AboutProject", "Home")</li>
            <li class="about-us-link">@Html.ActionLink("AboutUs", "AboutUs", "Home")</li>
        </ul>
    </nav>
    <div class="text-container">
        <div class="left text-block">
            <p>Inowar project is an Internet portal, allowing users to play games online. They can create bots and register them in competitions.</p>            <p>Bot is an application, which implements artficial intelligence for the gameplay. So, the goal of the game for users is to white optimized algorithms and the most optimized bot will win more often. Gameplay may bw different, Inowar has several types of games with different rules.</p>
        </div>
    
        <div class="right text-block">
            <p>Inowar project is an Internet portal, allowing users to play games online. They can create bots and register them in competitions.</p>            <p>Bot is an application, which implements artficial intelligence for the gameplay. So, the goal of the game for users is to white optimized algorithms and the most optimized bot will win more often. Gameplay may bw different, Inowar has several types of games with different rules.</p>
        </div>
    </div>

</div>
